$color-black: #000;
$color-grey-1: #303030;
$color-grey-light: #f6f6f6;
$color-white: #fff;

$color-green: #35DB0C;
$color-green-secondary: #298d10;

$color-blue: #07168F;


$gutter-horizontal: 6rem;
$gutter-vertical: 6rem;

$default-font-size: 1.6rem;
$paragraph-font-size-2: 2rem;

$heading-1: 3.5rem;